<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CRUD - Cadastro Telefone</title>

    <style type="text/css">
        form input[type=submit] {
            color: white;
        }
    </style>
</head>

<body>

<div class="row">
    <div class="center-align">
        <h3>CRUD - Cadastro Telefone</h3>
    </div>
</div>

<div class="col s12 m7">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <a class="waves-effect waves-light btn" href="/cadastropessoa">Cad. Pessoa</a>
            </div>
        </div>
    </div>
</div>

<div th:each="p : ${pessoaObj}">
    <div class="row">
        <div class="col s12">
            <p>ID: <span th:text="${p.id}"></span></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h5>Telefones</h5>
    </div>

    <form th:action="@{/addfonePessoa/{idpessoa}(idpessoa=${pessoaObj.id})}" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <label for="numero" class="active">Número</label>
                <input id="numero" name="numero" class="validate">
            </div>

            <div class="input-field col s6">
                <label for="tipo" class="active">Tipo</label>
                <input id="tipo" name="tipo" class="validate">
            </div>

            <div class="col s6">
                <input type="submit" value="Adicionar" class="waves-effect waves-light btn">
            </div>

        </div>
    </form>
</div>

<div>
    <table class="centered highlight">
        <thead>
        <tr>
            <th>ID</th>
            <th>Número</th>
            <th>Tipo</th>
            <th>Nome Pessoa</th>
        </tr>
        </thead>
        <tr th:each="fone : ${fones}">
            <td th:text="${fone.id}"></td>
            <td th:text="${fone.numero}"></td>
            <td th:text="${fone.tipo}"></td>
            <td th:text="${fone.pessoa.nome}"></td>
        </tr>
    </table>
</div>

<script>
    <script type="text/javascript" src="/materialize/js/materialize.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</script>
</body>

</html>